.block .content .curde-oil-small img{
    width: 100% !important;	
}
.block .content .curde-oil-small {
 width: 173px ;
}
.block .content .curde-oil-small .thumbs a{
    font-size:14px  !important;	
	padding: 2px 3px !important;
}
 .block .content .curde-oil-small strong, .block .content .curde-oil-small b {
    font-size: 13px !important;
}
.block .content .curde-oil-medium img{
    width: 300px;
    height: 200px;	
}
.block .content .curde-oil-medium {
 width: 50% !important;	
}